<% if @sales.empty? %>
  <h3>Nenhum registro encontrado!</h3>
<% else %>
  <table id="sales-table" class="table">
    <tr>
      <th>Comprador</th>
      <th>Fornecedor</th>
      <th>Endereço</th>
      <th>Descrição</th>
      <th>Preço Unitário</th>
      <th>Quantidade</th>
      <th>Preço Total</th>
    </tr>

    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.customer.name %></td>
        <td><%= sale.product.vendor.name %></td>
        <td><%= sale.product.vendor.address %></td>
        <td><%= sale.product.description %></td>
        <td><%= number_to_currency(sale.product.price) %></td>
        <td><%= sale.quantity %></td>
        <td><%= number_to_currency(sale.total) %></td>
      </tr>
    <% end %>

    <tr>
      <th colspan="6">Total em Vendas</th>
      <th><%= number_to_currency(@grandtotal) %></th>
    </tr>
  </table>
<% end %>
