<div class="container-fluid">
  <h1>Upload de Arquivo de Dados</h1>

  <% if flash[:alert] -%>
    <%= content_tag :div, flash[:alert], class: "alert alert-danger" %>
  <% end -%>

  <%= form_with url: import_sales_path, local: true do |f| %>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-4">
          <%= f.label :file, "Arquivo" %>
          <%= f.file_field :file %>
        </div>
      </div>
    </div>

    <p>
      <%= f.submit "Enviar Dados", class: "btn btn-default" %>
    </p>
  <% end %>
</div>

<%= javascript_tag do %>
(function() {
  $(":file").filestyle({buttonText: '&nbsp;Selecionar Arquivo'});
}());
<% end %>
